.userContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*justify-content: center;*/
    width:47vw;
    margin: 40px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    background: #2D3E49;
    flex-wrap: wrap;
}
.userAva{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
.avatarBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.avatarBlock button{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
}
.userInfoBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height:90px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid black;
}
.userInfoBlockElements{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.pages{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}
.pages span{
    width: 30px;
}
.selectedPage{
    font-weight: bold;
    font-size: 25px;
}
